<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form page</title>
</head>
<body>

<div>
    <label for="form">Form</label>
    <form id="form" method="POST" action="/form">
        <label for="x-field">X:</label>
        <input id="x-field" type="text">
        <br>
        <label for="y-field">Y:</label>
        <input id="y-field" type="text">
        <br>
        <label for="r-field">R:</label>
        <input id="r-field" type="text">
        <br>
        <input type="submit">
    </form>
</div>

</body>
</html>