<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form page</title>
</head>
<body>

<div>
    <label for="form">Form</label>
    <form id="form" th:method="POST" th:action="@{/form}" th:object="${request}">
        <label for="x-field">X:</label>
        <input id="x-field" type="text" th:field="*{x}">
        <span th:if="${#fields.hasErrors('x')}" th:errors="*{x}">x error</span>
        <br>
        <label for="y-field">Y:</label>
        <input id="y-field" type="text" th:field="*{y}">
        <span th:if="${#fields.hasErrors('y')}" th:errors="*{y}">y error</span>
        <br>
        <label for="r-field">R:</label>
        <input id="r-field" type="text" th:field="*{r}">
        <span th:if="${#fields.hasErrors('r')}" th:errors="*{r}">r error</span>
        <br>
        <input type="submit" value="I'm lucky!">
    </form>

    <div>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Date</td>
                    <td>X</td>
                    <td>Y</td>
                    <td>R</td>
                    <td>Result</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="h : ${history}">
                    <td th:text="${hStat.index + 1}">number</td>
                    <td th:text="${h.createdTime}">date</td>
                    <td th:text="${h.x}">x</td>
                    <td th:text="${h.y}">y</td>
                    <td th:text="${h.r}">r</td>
                    <td th:text="${h.result}">result</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>